## Import libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib as mp
import matplotlib.pyplot as plt
import seaborn as sns
from seaborn import set
from datetime import datetime 
%matplotlib inline
pd.set_option('display.MAX_ROWS', 500)
pd.set_option('display.MAX_COLUMNS', 500)

## Read data

In [3]:
df = pd.read_csv('../input_files/segmentation_data_and_clv_fake.csv')

In [4]:
df = df.rename(str.lower, axis='columns')

In [5]:
df.head(2)

,client id,client name,recency,frequency,monetary_value,tenure,clv,cluster,cluster_label,observation_date,address,city,gender,birth_dt,age
0,d5fe1009cacfbe01181f61f9e926ef46eac075e1,Željana Mirjanić,0,8,14488.84,81,65900.964524,3,premium,2018-12-31,Bulevar Nikole Pašića 56,KUMANE,MALE,1983-06-17,38
1,3651df421a326f17d9eb5790640bf05c12afdd76,Živa Jerosimić,0,7,44529.95,369,26730.287961,3,premium,2018-12-31,Nikole Tesle 48,TRSTENIK,MALE,1960-08-06,51

client_id,
cluster,
cluster_label,
city,
gender,


recency,
frequency,
monetary_value,
tenure,
clv,
age

In [6]:
df['cluster'] = df['cluster'].astype('str')
df['observation_date'] = pd.to_datetime(df['observation_date'])
df['birth_dt'] = pd.to_datetime(df['birth_dt'])

### by cluster_label, cluster

In [7]:
df_agg = df[['cluster_label', 'cluster', 'recency', 'frequency', 'monetary_value', 'tenure', 'clv', 'age']].groupby(
    by = ['cluster_label', 'cluster'], as_index = False).agg(
    ['count', 'mean', 'std', 'min', 'median', 'max']).sort_values(
    by = ['cluster_label', 'cluster'], ascending = False)

In [8]:
df_agg.columns = ['_'.join(x) for x in df_agg.columns.ravel()]

In [9]:
df_agg.reset_index(inplace = True)

### Plotly

In [370]:
from plotly import __version__
import plotly.plotly as py
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot
import plotly.graph_objs as go

In [371]:
init_notebook_mode(connected=True)
py.sign_in('marjanovicdarko', 'fuWoH0Ner3x4QIri3Uhi')
N_clusters = 6

#### customer segments

In [375]:
#hard coded
#labels = np.sort(df['cluster_label'].unique())
#values = [9375, 6263, 11548, 2785, 7711, 13183]

In [427]:
df_cl_label = df['cluster_label'].value_counts().to_frame().sort_index()
value_list = df_cl_label['cluster_label'].tolist()

trace = go.Pie(labels = labels, 
               values = values,
               marker=dict(colors=['rgb(42,60,142)',
                                  'rgb(199,119,68)',
                                  'rgb(91,138,104)',
                                  'rgb(67,125,178)',
                                  'rgb(225,184,10)',
                                  'rgb(165,12,12)'
                                  ]
                          )
               )

layout = go.Layout(title = 'Customer segments')

data = [trace]
fig = go.Figure(data = data, layout = layout)
py.iplot(fig, filename = 'docker_course_customer_segments')

#### measures on a cluster level

In [11]:
df_agg = df[['cluster_label', 'cluster', 'recency', 'frequency', 'monetary_value', 'tenure', 'clv', 'age']].groupby(
    by = ['cluster_label', 'cluster'], as_index = False).agg(
    ['count', 'mean', 'std', 'min', 'median', 'max']).sort_values(
    by = ['cluster_label', 'cluster'], ascending = False)

df_agg.columns = ['_'.join(x) for x in df_agg.columns.ravel()]

df_agg.reset_index(inplace = True)

In [12]:
df_agg_short = df_agg[['cluster_label', 'cluster', 'recency_mean', 'frequency_mean', 'monetary_value_mean', 
                       'tenure_mean', 'clv_mean', 'age_mean']]

In [13]:
df_agg_short.head(20)

,cluster_label,cluster,recency_mean,frequency_mean,monetary_value_mean,tenure_mean,clv_mean,age_mean
0,regular,2,118.117045,1.737161,7375.876418,243.610862,2840.550458,47.015323
1,promising,0,150.388666,3.480093,33531.743439,465.175075,5006.098036,47.001167
2,premium,3,137.811849,6.012926,37674.262585,482.263555,8096.777059,46.960862
3,needing_attention,5,389.119761,1.543211,10803.659293,458.842743,1077.105055,47.779356
4,dormant,1,1123.653201,1.292512,8605.566998,1133.954974,418.189456,46.587418
5,about_to_sleep,4,697.173547,1.515520,20306.682403,745.246293,638.331175,46.573547

In [14]:
df_agg_short_t = df_agg_short.T

In [15]:
df_agg_short_t

,0,1,2,3,4,5
cluster_label,regular,promising,premium,needing_attention,dormant,about_to_sleep
cluster,2,0,3,5,1,4
recency_mean,118.117,150.389,137.812,389.12,1123.65,697.174
frequency_mean,1.73716,3.48009,6.01293,1.54321,1.29251,1.51552
monetary_value_mean,7375.88,33531.7,37674.3,10803.7,8605.57,20306.7
tenure_mean,243.611,465.175,482.264,458.843,1133.95,745.246
clv_mean,2840.55,5006.1,8096.78,1077.11,418.189,638.331
age_mean,47.0153,47.0012,46.9609,47.7794,46.5874,46.5735

In [17]:
df_agg_short_t.columns = ['regular', 'promising', 'premium', 'needing_attention',
                          'dormant', 'about_to_sleep']

In [590]:
df_agg_short_t = df_agg_short_t.iloc[2:-1, :]

In [591]:
df_agg_short_t

,regular,promising,premium,needing_attention,dormant,about_to_sleep
recency_mean,118.117,150.389,137.812,389.12,1123.65,697.174
frequency_mean,1.73716,3.48009,6.01293,1.54321,1.29251,1.51552
monetary_value_mean,7375.88,33531.7,37674.3,10803.7,8605.57,20306.7
tenure_mean,243.611,465.175,482.264,458.843,1133.95,745.246
clv_mean,2840.55,5006.1,8096.78,1077.11,418.189,638.331

In [592]:
df_agg_short_t.iloc[0, 2:].values

array([137.81184919210054, 389.1197609975753, 1123.6532013412102,
       697.1735466666667], dtype=object)

In [594]:
plot_path = 'docker_crash_course/'

In [593]:
#feat = 'recency_mean'
for feat in df_agg_short_t.index:
    data = [go.Scatterpolar(
        r = df_agg_short_t.loc[feat, :].values,
        theta = df_agg_short_t.columns,
        fill = 'toself',
        name=feat
    )]


    layout = go.Layout(title=feat + ' by segment')
    fig = go.Figure(data=data, layout=layout)
    py.iplot(fig, filename=plot_path + feat)

In [ ]:
# plot_path = 'docker_crash_course/'

In [508]:
# data = [go.Scatterpolar(
#     r = df_agg_short.iloc[i, 2:].values,
#     theta = df_agg_short.columns.drop(['cluster_label', 'cluster']),
#     fill = 'toself',
#     name=df_agg.loc[i, 'cluster_label']
# ) for i in range(df_agg.shape[0])]


# layout = go.Layout(title='Segments drilldown')
# fig = go.Figure(data=data, layout=layout)
# py.iplot(fig, filname=plot_path + "radar_plot")

## export to db

In [ ]:
df_agg.to_sql(name = 'segmentation_data_fake_stats_cl', con = engine,
              index = False, schema = 'docker_course', if_exists= 'replace')

### by cluster_label, cluster, gender

In [356]:
df_agg_g = df[['cluster_label','cluster','gender', 'recency', 'frequency', 'monetary_value', 'tenure', 'clv', 'age']].groupby(
    by = ['cluster_label', 'cluster', 'gender'], as_index = False).agg(
    ['count', 'mean', 'std', 'min', 'median', 'max']).sort_values(
    by = ['cluster_label', 'cluster', 'gender'], ascending = False)

In [357]:
df_agg_g

                                      recency                                \
                                        count         mean         std  min
cluster_label     cluster gender
regular           2       Not defined       5   168.800000   70.786298   70
                          MALE           6839   117.066238   75.759631    0
                          FEMALE         6339   119.210759   75.165913    0
promising         0       Not defined       2   203.000000  104.651804  129
                          MALE           4399   149.158900  109.755383    0
                          FEMALE         3310   151.991239  114.214019    0
premium           3       MALE           1436   132.942897  143.740381    0
                          FEMALE         1349   142.994811  146.181488    0
needing_attention 5       Not defined       8   411.375000  101.491643  270
                          MALE           6091   389.411427   80.737157  245
                          FEMALE         5449   388.761057   80.332780  245
dormant           1       Not defined      74  1109.081081  111.740251  927
                          MALE           3415  1123.298975  149.463310  906
                          FEMALE         2774  1124.478010  146.042923  905
about_to_sleep    4       Not defined      60   745.900000   94.477995  570
                          MALE           5123   697.012688  100.313005  528
                          FEMALE         4192   696.672710  100.103217  531

                                                    frequency            \
                                       median   max     count      mean
cluster_label     cluster gender
regular           2       Not defined   189.0   258         5  2.000000
                          MALE          108.0   261      6839  1.766048
                          FEMALE        111.0   259      6339  1.705790
promising         0       Not defined   203.0   277         2  5.500000
                          MALE          130.0   572      4399  3.481473
                          FEMALE        130.0   570      3310  3.477039
premium           3       MALE           84.0   798      1436  6.059192
                          FEMALE         95.0   815      1349  5.963677
needing_attention 5       Not defined   422.5   539         8  1.625000
                          MALE          392.0   544      6091  1.572977
                          FEMALE        392.0   544      5449  1.509818
dormant           1       Not defined  1112.5  1427        74  1.162162
                          MALE         1092.0  1474      3415  1.287555
                          FEMALE       1103.0  1474      2774  1.302091
about_to_sleep    4       Not defined   744.5   916        60  1.316667
                          MALE          679.0   944      5123  1.531720
                          FEMALE        679.0   931      4192  1.498569

                                                               monetary_value  \
                                            std min median max          count
cluster_label     cluster gender
regular           2       Not defined  0.707107   1    2.0   3              5
                          MALE         0.642376   1    2.0  10           6839
                          FEMALE       0.594269   1    2.0   8           6339
promising         0       Not defined  2.121320   4    5.5   7              2
                          MALE         0.711792   2    3.0  17           4399
                          FEMALE       0.641507   3    3.0  11           3310
premium           3       MALE         0.994749   5    6.0  15           1436
                          FEMALE       0.924133   5    6.0  14           1349
needing_attention 5       Not defined  0.744024   1    1.5   3              8
                          MALE         0.694609   1    1.0  10           6091
                          FEMALE       0.661746   1    1.0   8           5449
dormant           1       Not defined  0.406355   1    1.0   3             74
                          MALE         0.628744   1    1.0   7           3415
                          FEMALE       0.651456   1    1.0   7           2774
about_to_sleep    4       Not defined  0.567231   1    1.0   3             60
                          MALE         0.776409   1    1.0   7           5123
                          FEMALE       0.770488   1    1.0   6           4192

                                                                               \
                                                mean           std        min
cluster_label     cluster gender
regular           2       Not defined   11984.878000  13131.121243   -2932.68
                          MALE           7932.782361  18015.317559  -89724.51
                          FEMALE         6771.408086  15928.852728  -40446.77
promising         0       Not defined  151834.290000  18162.942771  138991.15
                          MALE          36293.346058  34477.062226 -119348.06
                          FEMALE        29790.083314  29684.751861  -32813.14
premium           3       MALE          40238.794812  33838.659164  -25866.02
                          FEMALE        34944.337991  28598.614455  -56914.00
needing_attention 5       Not defined   26666.730000  63805.027673  -20885.94
                          MALE          12160.399594  31689.641486 -354104.70
                          FEMALE         9263.778629  26105.897006 -135158.53
dormant           1       Not defined    9533.496216  33571.465100       6.43
                          MALE           9505.018012  23069.228047  -93113.27
                          FEMALE         7473.522307  15844.692685  -35064.07
about_to_sleep    4       Not defined    8302.180667  17016.548745      10.35
                          MALE          21941.834089  31255.776981 -128529.99
                          FEMALE        18480.200537  25911.970682  -38644.96

                                                             tenure  \
                                           median        max  count
cluster_label     cluster gender
regular           2       Not defined   12410.530   28431.43      5
                          MALE           2484.050  476183.06   6839
                          FEMALE         2157.430  306609.31   6339
promising         0       Not defined  151834.290  164677.43      2
                          MALE          28429.080  460644.24   4399
                          FEMALE        23970.185  346195.64   3310
premium           3       MALE          31941.890  229556.97   1436
                          FEMALE        28879.420  233341.25   1349
needing_attention 5       Not defined     836.830  175183.94      8
                          MALE           3639.440  427827.85   6091
                          FEMALE         3277.440  414340.89   5449
dormant           1       Not defined     729.105  251110.59     74
                          MALE           2713.020  393150.83   3415
                          FEMALE         3276.495  398712.21   2774
about_to_sleep    4       Not defined    1743.985  110928.29     60
                          MALE           8426.920  433729.83   5123
                          FEMALE         6990.615  318602.21   4192

                                                                             \
                                              mean         std  min  median
cluster_label     cluster gender
regular           2       Not defined   649.000000  313.248304  194   612.0
                          MALE          242.917532  278.926872    0   158.0
                          FEMALE        244.039123  278.637622    0   161.0
promising         0       Not defined   813.500000  111.015765  735   813.5
                          MALE          458.403955  351.029293    0   325.0
                          FEMALE        473.963444  358.880945    3   342.0
premium           3       MALE          463.522981  391.204464    4   320.0
                          FEMALE        502.212750  393.520054    0   383.0
needing_attention 5       Not defined   646.375000  348.926901  294   524.5
                          MALE          464.513709  213.614534  245   412.0
                          FEMALE        452.228299  195.990166  245   409.0
dormant           1       Not defined  1112.864865  112.597030  927  1119.0
                          MALE         1133.986823  152.005934  906  1110.0
                          FEMALE       1134.478371  148.025758  905  1112.5
about_to_sleep    4       Not defined   757.450000  118.038693  570   747.0
                          MALE          745.869608  160.965086  532   707.0
                          FEMALE        744.309876  159.084306  531   705.0

                                              clv                             \
                                        max count         mean           std
cluster_label     cluster gender
regular           2       Not defined  1057     5  2934.824508    597.944155
                          MALE         1470  6839  2814.164204   4108.116222
                          FEMALE       1468  6339  2868.943615   3807.708416
promising         0       Not defined   892     2  5049.756647   1317.240637
                          MALE         1474  4399  4993.340971   5576.864256
                          FEMALE       1474  3310  5023.025835   5552.357890
premium           3       MALE         1463  1436  8458.052765  10174.796664
                          FEMALE       1470  1349  7712.201881   8899.516683
needing_attention 5       Not defined  1256     8  1501.756980    836.315711
                          MALE         1474  6091  1062.200739    767.895285
                          FEMALE       1461  5449  1093.141939    742.850706
dormant           1       Not defined  1427    74   447.145242    174.344714
                          MALE         1474  3415   419.923695    200.847028
                          FEMALE       1474  2774   415.282046    200.615956
about_to_sleep    4       Not defined  1158    60   595.006903    334.715400
                          MALE         1470  5123   628.151150    406.964667
                          FEMALE       1474  4192   651.392178    394.703784

                                                                   \
                                                 min       median
cluster_label     cluster gender
regular           2       Not defined   2.355953e+03  2952.663827
                          MALE          0.000000e+00  2206.887576
                          FEMALE        0.000000e+00  2330.664369
promising         0       Not defined   4.118327e+03  5049.756647
                          MALE          0.000000e+00  3961.189898
                          FEMALE        0.000000e+00  3981.898426
premium           3       MALE          0.000000e+00  5924.614069
                          FEMALE        0.000000e+00  6102.739552
needing_attention 5       Not defined  4.130168e-167  1577.772900
                          MALE          0.000000e+00  1216.732381
                          FEMALE        0.000000e+00  1237.075218
dormant           1       Not defined  6.979682e-168   497.635710
                          MALE          0.000000e+00   490.067432
                          FEMALE        0.000000e+00   486.865634
about_to_sleep    4       Not defined   0.000000e+00   721.120905
                          MALE          0.000000e+00   727.734044
                          FEMALE        0.000000e+00   740.410328

                                                      age             \
                                                max count       mean
cluster_label     cluster gender
regular           2       Not defined   3814.516785     5  40.600000
                          MALE         53267.738761  6839  47.195935
                          FEMALE       53267.738761  6339  46.825525
promising         0       Not defined   5981.186434     2  37.500000
                          MALE         50922.568037  4399  46.170266
                          FEMALE       45977.721955  3310  48.111178
premium           3       MALE         65900.964524  1436  46.002089
                          FEMALE       56130.775199  1349  47.981468
needing_attention 5       Not defined   2601.857657     8  38.875000
                          MALE          4630.005722  6091  47.749959
                          FEMALE        4778.469914  5449  47.825289
dormant           1       Not defined    604.991054    74  44.405405
                          MALE           901.383900  3415  46.551977
                          FEMALE         889.949502  2774  46.689257
about_to_sleep    4       Not defined   1128.045506    60  48.083333
                          MALE          2434.970140  5123  46.510833
                          FEMALE        2449.089678  4192  46.628578


                                             std min median  max
cluster_label     cluster gender
regular           2       Not defined  19.086645  23   33.0   72
                          MALE         16.160099   1   46.0  195
                          FEMALE       15.781189   1   46.0   95
promising         0       Not defined  19.091883  24   37.5   51
                          MALE         12.600947   8   45.0   88
                          FEMALE       12.082334   5   47.0   92
premium           3       MALE         10.936975  21   45.0   84
                          FEMALE       10.537574  21   48.0   77
needing_attention 5       Not defined  12.194115  27   35.5   57
                          MALE         15.931030   2   47.0   95
                          FEMALE       16.394792   2   47.0  195
dormant           1       Not defined  17.220503   3   46.0   93
                          MALE         14.913091   3   45.0   98
                          FEMALE       15.323653   4   45.0   98
about_to_sleep    4       Not defined  17.907760  22   48.5   86
                          MALE         14.359134   3   45.0   97
                          FEMALE       14.578355   3   46.0  195

In [358]:
df_agg_g.columns = ['_'.join(x) for x in df_agg_g.columns.ravel()]

In [359]:
df_agg_g.reset_index(inplace = True)

,cluster_label,cluster,gender,recency_count,recency_mean,recency_std,recency_min,recency_median,recency_max,frequency_count,frequency_mean,frequency_std,frequency_min,frequency_median,frequency_max,monetary_value_count,monetary_value_mean,monetary_value_std,monetary_value_min,monetary_value_median,monetary_value_max,tenure_count,tenure_mean,tenure_std,tenure_min,tenure_median,tenure_max,clv_count,clv_mean,clv_std,clv_min,clv_median,clv_max,age_count,age_mean,age_std,age_min,age_median,age_max
0,regular,2,Not defined,5,168.800000,70.786298,70,189.0,258,5,2.000000,0.707107,1,2.0,3,5,11984.878000,13131.121243,-2932.68,12410.530,28431.43,5,649.000000,313.248304,194,612.0,1057,5,2934.824508,597.944155,2.355953e+03,2952.663827,3814.516785,5,40.600000,19.086645,23,33.0,72
1,regular,2,MALE,6839,117.066238,75.759631,0,108.0,261,6839,1.766048,0.642376,1,2.0,10,6839,7932.782361,18015.317559,-89724.51,2484.050,476183.06,6839,242.917532,278.926872,0,158.0,1470,6839,2814.164204,4108.116222,0.000000e+00,2206.887576,53267.738761,6839,47.195935,16.160099,1,46.0,195
2,regular,2,FEMALE,6339,119.210759,75.165913,0,111.0,259,6339,1.705790,0.594269,1,2.0,8,6339,6771.408086,15928.852728,-40446.77,2157.430,306609.31,6339,244.039123,278.637622,0,161.0,1468,6339,2868.943615,3807.708416,0.000000e+00,2330.664369,53267.738761,6339,46.825525,15.781189,1,46.0,95
3,promising,0,Not defined,2,203.000000,104.651804,129,203.0,277,2,5.500000,2.121320,4,5.5,7,2,151834.290000,18162.942771,138991.15,151834.290,164677.43,2,813.500000,111.015765,735,813.5,892,2,5049.756647,1317.240637,4.118327e+03,5049.756647,5981.186434,2,37.500000,19.091883,24,37.5,51
4,promising,0,MALE,4399,149.158900,109.755383,0,130.0,572,4399,3.481473,0.711792,2,3.0,17,4399,36293.346058,34477.062226,-119348.06,28429.080,460644.24,4399,458.403955,351.029293,0,325.0,1474,4399,4993.340971,5576.864256,0.000000e+00,3961.189898,50922.568037,4399,46.170266,12.600947,8,45.0,88
5,promising,0,FEMALE,3310,151.991239,114.214019,0,130.0,570,3310,3.477039,0.641507,3,3.0,11,3310,29790.083314,29684.751861,-32813.14,23970.185,346195.64,3310,473.963444,358.880945,3,342.0,1474,3310,5023.025835,5552.357890,0.000000e+00,3981.898426,45977.721955,3310,48.111178,12.082334,5,47.0,92
6,premium,3,MALE,1436,132.942897,143.740381,0,84.0,798,1436,6.059192,0.994749,5,6.0,15,1436,40238.794812,33838.659164,-25866.02,31941.890,229556.97,1436,463.522981,391.204464,4,320.0,1463,1436,8458.052765,10174.796664,0.000000e+00,5924.614069,65900.964524,1436,46.002089,10.936975,21,45.0,84
7,premium,3,FEMALE,1349,142.994811,146.181488,0,95.0,815,1349,5.963677,0.924133,5,6.0,14,1349,34944.337991,28598.614455,-56914.00,28879.420,233341.25,1349,502.212750,393.520054,0,383.0,1470,1349,7712.201881,8899.516683,0.000000e+00,6102.739552,56130.775199,1349,47.981468,10.537574,21,48.0,77
8,needing_attention,5,Not defined,8,411.375000,101.491643,270,422.5,539,8,1.625000,0.744024,1,1.5,3,8,26666.730000,63805.027673,-20885.94,836.830,175183.94,8,646.375000,348.926901,294,524.5,1256,8,1501.756980,836.315711,4.130168e-167,1577.772900,2601.857657,8,38.875000,12.194115,27,35.5,57
9,needing_attention,5,MALE,6091,389.411427,80.737157,245,392.0,544,6091,1.572977,0.694609,1,1.0,10,6091,12160.399594,31689.641486,-354104.70,3639.440,427827.85,6091,464.513709,213.614534,245,412.0,1474,6091,1062.200739,767.895285,0.000000e+00,1216.732381,4630.005722,6091,47.749959,15.931030,2,47.0,95
10,needing_attention,5,FEMALE,5449,388.761057,80.332780,245,392.0,544,5449,1.509818,0.661746,1,1.0,8,5449,9263.778629,26105.897006,-135158.53,3277.440,414340.89,5449,452.228299,195.990166,245,409.0,1461,5449,1093.141939,742.850706,0.000000e+00,1237.075218,4778.469914,5449,47.825289,16.394792,2,47.0,195
11,dormant,1,Not defined,74,1109.081081,111.740251,927,1112.5,1427,74,1.162162,0.406355,1,1.0,3,74,9533.496216,33571.465100,6.43,729.105,251110.59,74,1112.864865,112.597030,927,1119.0,1427,74,447.145242,174.344714,6.979682e-168,497.635710,604.991054,74,44.405405,17.220503,3,46.0,93
12,dormant,1,MALE,3415,1123.298975,149.463310,906,1092.0,1474,3415,1.287555,0.628744,1,1.0,7,3415,9505.018012,23069.228047,-93113.27,2713.020,393150.83,3415,1133.986823,152.005934,906,1110.0,1474,3415,419.923695,200.847028,0.000000e+00,490.067432,901.383900,3415,46.551977,14.913091,3,45.0,98
13,dormant,1,FEMALE,2774,1124.478010,146.042923,905,1103.0,1474,2774,1.302091,0.651456,1,1.0,7,2774,7473.522307,15844.692685,-35064.07,3276.495,398712.21,2774,1134.478371,148.025758,905,1112.5,1474,2774,415.282046,200.615956,0.000000e+00,486.865634,889.949502,2774,46.689257,15.323653,4,45.0,98
14,about_to_sleep,4,Not defined,60,745.900000,94.477995,570,744.5,916,60,1.316667,0.567231,1,1.0,3,60,8302.180667,17016.548745,10.35,1743.985,110928.29,60,757.450000,118.038693,570,747.0,1158,60,595.006903,334.715400,0.000000e+00,721.120905,1128.045506,60,48.083333,17.907760,22,48.5,86
15,about_to_sleep,4,MALE,5123,697.012688,100.313005,528,679.0,944,5123,1.531720,0.776409,1,1.0,7,5123,21941.834089,31255.776981,-128529.99,8426.920,433729.83,5123,745.869608,160.965086,532,707.0,1470,5123,628.151150,406.964667,0.000000e+00,727.734044,2434.970140,5123,46.510833,14.359134,3,45.0,97
16,about_to_sleep,4,FEMALE,4192,696.672710,100.103217,531,679.0,931,4192,1.498569,0.770488,1,1.0,6,4192,18480.200537,25911.970682,-38644.96,6990.615,318602.21,4192,744.309876,159.084306,531,705.0,1474,4192,651.392178,394.703784,0.000000e+00,740.410328,2449.089678,4192,46.628578,14.578355,3,46.0,195

### Plotly

In [ ]:
df_agg_g.to_sql(name = 'segmentation_data_fake_stats_cl_gender', con = engine, 
                index = False, schema = 'docker_course', if_exists= 'replace')